<h1><%= question.title %></h1>
<table>
  <tr>
    <td>
      <% if logged_in? %>
        <%= link_to "Edit Question", edit_question_path %>
        <%= link_to "Delete Question", question_path(question), method: :delete %>
      <% end %>

      <% if logged_in? %>
        <div class='upvote'>
          <%= form_for @vote do |f| %>
            <%= f.hidden_field :votable_id, value: 1 %>
            <%= image_submit_tag("up-arrow.png", class: "vote") %>
            <input type="image" src="<%= image_path("up-arrow.png") %>" alt="submit"/>
          <% end %>
        </div>

         <p class="rating"><%=question.rating%> votes</p>

        <div class='downvote'>
          <%= form_for @vote do |f| %>
          <%= f.hidden_field :votable_id, value: -1 %>
          <%= image_submit_tag("down-arrow.png", class: "vote") %>
          <% end %>
        </div>
      <% else %>

    <div class="vote-buttons">
        <%= link_to image_tag("up-arrow.png"), class: "vote" %>
        <div class="rating"><%=question.rating%> votes</div>
        <%= link_to image_tag("down-arrow.png"), class: "vote" %>

      <% end %>
     </div>
    </td>
    <td>
      <p class="question-content"><%= question.text %></p>
    </td>
  </tr>
</table>
