<main>

  <h1><%= @question.title %></h1>
  <p><%= @question.text %></p>

  <% if current_user %>
    <%= render "answers/form" %>
    <%= render "comments/form" %>
  <% else %>
    <p class='link'><%= link_to 'Login to answer', login_path %></p>
  <% end %>

<% if !@question.comments.empty? %>
  <ul class="question-comments-list">
    <%= render @comments.question_comments %>
  </ul>
  <% end %>
<% if !@question.answers.empty? %>
  <ul class="question-comments-list">
    <%= render @answers %>
  </ul>
  <% end %>


</main>

