<h3>Here's an Answer</h3>
<%= answer.text %><br/>
by <%= answer.user.username %><br/>
  <% if current_user = answer.user_id %>
    <%= button_to "Edit Answer", edit_answer_path(answer.id), :method => :get %>
    <%= button_to "Delete Answer", answer_path(answer), method: :delete %><br/>
  <% end %>

  <% if logged_in? %>
<div class='upvote'>
  <%= form_for @vote do |f| %>
  <%= f.hidden_field :votable_direction, :value => 1 %>
  <%= f.hidden_field :votable_id, :value => answer.id %>
  <%= f.hidden_field :votable_type, :value => "Answer" %>
  <%= image_submit_tag("up-arrow.png", class: "vote") %>
  <% end %>
</div>

<p class="rating"><%=answer.rating%> votes</p>

<div class='downvote'>
  <%= form_for @vote do |f| %>
  <%= f.hidden_field :votable_direction, value: -1 %>
  <%= f.hidden_field :votable_id, :value => answer.id %>
  <%= f.hidden_field :votable_type, :value => "Answer" %>
  <%= image_submit_tag("down-arrow.png", class: "vote") %>
  <% end %>
</div>
<% else %>

<div class="vote-buttons">
  <%= link_to image_tag("up-arrow.png"), class: "vote" %>
  <div class="rating"><%=question.rating%> votes</div>
  <%= link_to image_tag("down-arrow.png"), class: "vote" %>

  <% end %>
</div>

  <h4>Thoughts on this answer</h4>
<%= form_for @comment do |f| %>
 <%= f.hidden_field :commentable_id, value: answer.id %>
 <%= f.hidden_field :commentable_type, value: "Answer" %>
 <%= f.text_field :text %>
 <%= f.submit "Submit" %>
<% end %>
  <% answer.comments.each do |comment| %>
    <li><%= comment.text %></li>
  <% end %>
