<!DOCTYPE html>
<html>
<head>
  <title>XOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <header>
  <h3 id='logo'><%= link_to 'X Overflow', root_path %></h3>
  </header>

  <nav class="question-links">
    <%= link_to "Recent", recent_path, class: "sub-button" %>
    <%= link_to "Popular", votes_path, class: "sub-button" %>
    <%= link_to "Trending", trending_path, class: "sub-button" %>
  </nav>

  <% if current_user %>
    <p class='link-a'><%= link_to 'Ask', new_question_path %></p>
    <p class='link-b'><%= link_to 'Logout', logout_path %></p>
  <% else %>
    <p class='link-c'><%= link_to 'Sign up', new_user_path %></p>
    <p class='link-d'><%= link_to 'Login', login_path %></p>
  <% end %>
</div>

<div id='content'>
  <%= yield %>
</div>

<footer>
  <p>Designed by Team Dian   |   Domingo   |   Julianna</p>
</footer>

</body>
</html>
