<!DOCTYPE html>
<html>
<head>
  <title>XOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='nav-bar'>
  <h3 id='logo'><%= link_to 'X Overflow', root_path %></h3>
  <% if current_user %>
    <p class='link'><%= link_to 'Ask', new_question_path %></p>
    <p class='link'><%= link_to 'Logout', logout_path %></p>
  <% else %>
    <p class='link'><%= link_to 'Sign up', new_user_path %></p>
    <p class='link'><%= link_to 'Login', login_path %></p>
  <% end %>
</div>

<div id='content'>
  <%= yield %>
</div>

</body>
</html>
